:root {
  --user-primary: #00d1b2;
  --bulma-arrow-color: var(--user-primary);
  --bulma-primary-invert-l: black;
}

/* On surcharge les classes Bulma principales */
.button.is-primary {
  background-color: var(--user-primary);
  border-color: var(--user-primary);
  color: var(--bulma-primary-invert-l);
}

.has-text-primary {
  color: var(--user-primary) !important;
}

.has-background-primary {
  background-color: var(--user-primary);
}

.navbar-burger {
  color: var(--user-primary);
}

.navbar-burger.is-active {
  color: var(--user-primary);
}

.navbar-link::after {
  border-color: var(--user-primary);
}

.navbar-item.has-dropdown.is-active > .navbar-link::after {
  border-color: var(--user-primary);
}

@media (max-width: 1023px) {
  /* Dropdowns mobile */
  .mobile-dropdown .navbar-dropdown {
    display: none;
  }

  .mobile-dropdown.is-active .navbar-dropdown {
    display: block;
  }

  /* Menu fullscreen */
  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 3.5rem;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.is-active {
    transform: translateX(0);
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-left-color: var(--user-primary) !important;
  border-bottom-color: var(--user-primary) !important;
}


.poster-wrapper {
  margin: auto;
  max-width: 100%;       /* taille fixe */
}

.poster-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* recadre proprement */
  border-radius: 10px;
}

.movie-card {
  display: flex;
  height: 100%;
  align-items: center;
}

.movie-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 65%;
  padding: 5%;
  padding-right: 2%;
}

.movie-card .card-image {
  width: 35%;
  padding: 3%;
}

.movie-card .buttons {
  margin-top: auto; /* pousse les boutons en bas */
}

.tag.action, .tag.artsmartiaux, .tag.horreur {
  background-color: #A7001E;
  color: white;
}
.tag.animation {
  background-color: #26474E;
  color: white;
}
.tag.aventure, .tag.fantastique, .tag.western {
  background-color: #5D7052;
  color: white;
}
.tag.biopic, .tag.guerre, .tag.historique {
  background-color: #93441A;
  color: white;
}
.tag.comédie, tag.comédie-musicale, .tag.famille, .tag.musique {
  background-color: #F5DF4D;
  color: black;
}
.tag.crime, .tag.espionnage, .tag.mystère, .tag.policier, .tag.suspense, .tag.thriller {
  background-color: #F27438;
  color: white;
}
.tag.drame {
  background-color: #212E53;
  color: white;
}
.tag.romance {
  background-color: #CA3C66;
  color: white;
}
.tag.science-fiction {
  background-color: #4AA3A2;
  color: white;
}