:root {
  --user-primary: #00d1b2;
  --bulma-arrow-color: var(--user-primary);
}

/* On surcharge les classes Bulma principales */
.button.is-primary {
  background-color: var(--user-primary);
  border-color: var(--user-primary);
}

.has-text-primary {
  color: var(--user-primary);
}

.has-background-primary {
  background-color: var(--user-primary);
}

.navbar-burger {
  color: var(--user-primary);
}

.navbar-burger.is-active {
  color: var(--user-primary);
}

.navbar-link::after {
  border-color: var(--user-primary);
}

.navbar-item.has-dropdown.is-active > .navbar-link::after {
  border-color: var(--user-primary);
}

@media (max-width: 1023px) {
  /* Dropdowns mobile */
  .mobile-dropdown .navbar-dropdown {
    display: none;
  }

  .mobile-dropdown.is-active .navbar-dropdown {
    display: block;
  }

  /* Menu fullscreen */
  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 3.5rem;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.is-active {
    transform: translateX(0);
  }
}

.navbar-link {
  color: var(--bulma-arrow-color);
  display: block;
  gap: 0.75rem;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border: 0.125em solid var(--bulma-arrow-color);
}