:root {
  --user-primary: #00d1b2;
  --bulma-arrow-color: var(--user-primary);
  --bulma-primary-invert-l: black;
}

/* On surcharge les classes Bulma principales */
.button.is-primary {
  background-color: var(--user-primary);
  border-color: var(--user-primary);
  color: var(--bulma-primary-invert-l);
}

.has-text-primary {
  color: var(--user-primary) !important;
}

.has-background-primary {
  background-color: var(--user-primary);
}

.navbar-burger {
  color: var(--user-primary);
}

.navbar-burger.is-active {
  color: var(--user-primary);
}

.navbar-link::after {
  border-color: var(--user-primary);
}

.navbar-item.has-dropdown.is-active > .navbar-link::after {
  border-color: var(--user-primary);
}

@media (max-width: 1023px) {
  /* Dropdowns mobile */
  .mobile-dropdown .navbar-dropdown {
    display: none;
  }

  .mobile-dropdown.is-active .navbar-dropdown {
    display: block;
  }

  /* Menu fullscreen */
  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 3.5rem;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.is-active {
    transform: translateX(0);
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-left-color: var(--user-primary) !important;
  border-bottom-color: var(--user-primary) !important;
}


.poster-wrapper {
  margin: auto;
  max-width: 100%;       /* taille fixe */
}

.poster-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* recadre proprement */
  border-radius: 10px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.movie-card .buttons {
  margin-top: auto; /* pousse les boutons en bas */
}
