/* Normal */
@font-face {
  font-family: "Dream Orphans";
  src: url("fonts/dream_orphans/Dream\ Orphans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italique */
@font-face {
  font-family: "Dream Orphans";
  src: url("fonts/dream_orphans/Dream\ Orphans\ It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Gras */
@font-face {
  font-family: "Dream Orphans";
  src: url("fonts/dream_orphans/Dream\ Orphans\ Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gras Italique */
@font-face {
  font-family: "Dream Orphans";
  src: url("fonts/dream_orphans/Dream\ Orphans\ Bd\ It.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Normal */
@font-face {
  font-family: "Apple Garamond";
  src: url("fonts/apple_garamond/AppleGaramond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italique */
@font-face {
  font-family: "Apple Garamond";
  src: url("fonts/apple_garamond/AppleGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Gras */
@font-face {
  font-family: "Apple Garamond";
  src: url("fonts/apple_garamond/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gras Italique */
@font-face {
  font-family: "Apple Garamond";
  src: url("fonts/apple_garamond/AppleGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Titre */
@font-face {
  font-family: "Magiera";
  src: url("fonts/magiera.ttf") format("truetype");
}

/* Titre */
@font-face {
  font-family: "Magnolia";
  src: url("fonts/Magnolia\ Script.otf") format("opentype");
}


:root {
  --user-primary: #00d1b2;
  --bulma-arrow-color: var(--user-primary);
  --bulma-primary-invert-l: black;
  --bulma-family-primary: "Dream Orphans", "Apple Garamond", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("/Elina/css/backgrounds/cappuccino.jpeg");
  background-repeat: no-repeat;
  background-size: cover;      /* Ordinateur */
  background-position: center;
  background-attachment: fixed;
}

.navbar-menu {
  background-color: color-mix(in srgb, var(--bulma-scheme-main) 70%, transparent);
  backdrop-filter: blur(6px); /* optionnel, effet glass */
  border-radius: 5px;
}

.box {
  background-color: color-mix(in srgb, var(--bulma-scheme-main) 70%, transparent);
  backdrop-filter: blur(6px); /* optionnel, effet glass */
}

/* Mobile */
@media (max-width: 768px) {
  .navbar-menu {
    background-color: transparent;
  }
}

.card {
  background-color: color-mix(in srgb, var(--bulma-scheme-main) 70%, transparent);
  backdrop-filter: blur(6px); /* optionnel, effet glass */
}

.title {
  font-family: Magnolia, Magiera, "Dream Orphans", "Apple Garamond", Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* On surcharge les classes Bulma principales */
.button.is-primary, .tag.is-primary {
  background-color: var(--user-primary);
  border-color: var(--user-primary);
  color: var(--bulma-primary-invert-l);
}

.has-text-primary {
  color: var(--user-primary) !important;
}

.has-background-primary {
  background-color: var(--user-primary);
}

.navbar-burger {
  color: var(--user-primary);
}

.navbar-burger.is-active {
  color: var(--user-primary);
}

.navbar-link::after {
  border-color: var(--user-primary);
}

.navbar-item.has-dropdown.is-active > .navbar-link::after {
  border-color: var(--user-primary);
}

@media (max-width: 1023px) {
  /* Dropdowns mobile */
  .mobile-dropdown .navbar-dropdown {
    display: none;
  }

  .mobile-dropdown.is-active .navbar-dropdown {
    display: block;
  }

  /* Menu fullscreen */
  .navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 3.5rem;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.is-active {
    transform: translateX(0);
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-left-color: var(--user-primary) !important;
  border-bottom-color: var(--user-primary) !important;
}


.poster-wrapper {
  margin: auto;
  max-width: 100%;       /* taille fixe */
}

.poster-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* recadre proprement */
  border-radius: 10px;
}

.movie-card {
  display: flex;
  height: 100%;
  align-items: center;
}

.movie-card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 65%;
  padding: 5%;
  padding-right: 2%;
}

.movie-card .card-image {
  width: 35%;
  padding: 3%;
}

.movie-card .buttons {
  margin-top: auto; /* pousse les boutons en bas */
}

.tag.action, .tag.artsmartiaux, .tag.horreur {
  background-color: #A7001E;
  color: white;
}
.tag.animation {
  background-color: #26474E;
  color: white;
}
.tag.aventure, .tag.fantastique, .tag.western {
  background-color: #5D7052;
  color: white;
}
.tag.biopic, .tag.guerre, .tag.historique {
  background-color: #93441A;
  color: white;
}
.tag.comédie, tag.comédie-musicale, .tag.famille, .tag.musique {
  background-color: #F5DF4D;
  color: black;
}
.tag.crime, .tag.espionnage, .tag.mystère, .tag.policier, .tag.suspense, .tag.thriller {
  background-color: #F27438;
  color: white;
}
.tag.drame {
  background-color: #212E53;
  color: white;
}
.tag.romance {
  background-color: #CA3C66;
  color: white;
}
.tag.science-fiction {
  background-color: #4AA3A2;
  color: white;
}